<div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="img/logo.png" alt="Logo">
            </div>
            <div class="col-md-4">
                <h1>Добро пожаловать!</h1>
                <ul>
		        	<li>Вы имеете сервер Minecraft?</li>
		        	<li>Хотите выделить его среди других?</li>
		        	<li>Добавить новый функционал с помощью плагинов?</li>
		        	<li>И сделать это все быстрои и качественно?</li>
        		</ul>
        		<p>Тогда обращайтесь к <strong>нам!</strong></p>
                <a class="btn btn-primary btn-lg" href="#order">Заказать сейчас!</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Мы предоставляем набор услуг для Вашего сервера!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Самописный плагин</h2>
                <p>Мы сделаем вам плагин на ваш вкус! Только опишите его, и все будет сделано!</p>
                <a class="btn btn-success" href="#order">Заказать</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Настроить плагин</h2>
                <p>Хотите иметь на сервере привилегии для доната? Или богатые на предметы наборы? Обращайтесь! Настроим плагин на вашем сервере!</p>
                <a class="btn btn-success" href="#order">Заказать</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Сборка</h2>
                <p>Думаете создавать проект, но нету сборки сервера, которая воплотит в жизнь все ваши идеи? Мы вам поможем и сделаем сборку!</p>
                <a class="btn btn-success" href="#order">Заказать</a>
            </div>
            <!-- /.col-md-4 -->
        </div>