<div class="row">
    <h1>Правила оформления заявки</h1>
	<ol>
	    <li>Незнание Правил не освобождает от ответственности.</li>
	    <li>Просим Вас уважительно относиться к исполнителю заказа.</li>
	    <li>Услуги предоставляються на платной основе. Имейте ввиду, если вы заказываете плагин/сборку - значит вам прийдеться заплатить за проделанную роботу. Минимальная сумма - 50 руб.</li>
	    <li>Просим описывать заказ как можно более подробно. (например, в случае с заказом плагина, описать все его команды, действия, зависимоти)</li>
	    <li>Использовать ссылки на другие сервера/проекты запрещено.</li>
	    <li>В результате отказа в оплате или игнора просьб заплатить за работу в течении 5 дней или неоплаты работы в течении 7 дней, текущий и последующие заказы отменяются</li>
    </ol>
</div>